body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}


#clue {
  height: 40%;
}
 #foto {
  width: auto;
  height: 100%;
    display:block;
    margin:auto;
}


#historial{
font-size:14px;
}

#solu{

display:block;

}
#map{
  height:60%;
float: left;
}

#header{
position: relative;
font-weight: bold;
color: #000;

}

#menu{
}

div#search {
  background-color: white;
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: auto;
  height: auto;
  padding: 10px;
}
div#search input {
  width: 200px;
}
div#results {
  font-style: sans-serif;
  color: black;
  font-size: 75%;
}
